@import '../../styleVariables';

.instructions {
  width: 100%;
  background: $yellow;
  text-align: left;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 2px;

  &__link {
    color: $burgundy;
  }
}

@media(max-width: 767px) {
  .instructions {
    margin-bottom: 0.5rem;
  }
}
