@import '../../styleVariables';

.contactPage {
  width: 100%;
  text-align: left;
  border: 1px solid $yellow;

  &--success {
    border: 1px solid green;
  }

  &--error {
    border: 1px solid red;
  }

  &__outer {
    padding: 1rem;
    width: 100%;
  }

  &__topRow {
    border-bottom: 1px solid $yellow;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__topRow--success {
    border-bottom: 1px solid green;
  }

  &__topRow--error {
    border-bottom: 1px solid red;
  }

  &__header {
    margin: 0;
    text-transform: capitalize;
  }
}

.contact {
  padding: 0 1rem 1rem 1rem;

  &__inputCol {
    display: flex;
    align-items: center;
    height: 2.5rem;
  }

  &__inputCol--textarea {
    height: 6.4rem;
  }

  &__label {
    flex-basis: 78px;
  }

  &__input {
    margin-left: 2rem;
    padding-left: 4px;
    font-size: 14px;
    flex-grow: 1;
    height: 28px;
    font-family: inherit;
  }

  &__input--textarea {
    height: 84px;
  }

  &__submit {
    width: 100%;
    margin-top: 1rem;
    height: 28px;
    background: $burgundy;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;

    &:disabled {
      background: lightgray;
    }
  }
}

.message {
  padding: 0 1rem 1rem 1rem;
}
