@import '../../styleVariables';

.eventsList {
  flex-basis: 100%;
  max-width: 500px;
  border: $border;

  &__topRow {
    border-bottom: $border;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    margin: 0;
    font-size: 1rem;
    color: $brown;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 1rem;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid lightgray;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__dateTime {
    text-align: right;
  }
}

@media(max-width: 767px) {
  .eventsList {
    flex-basis: 100%;
    max-width: none;
  }
}
