@import '../../styleVariables';

.faveImages {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;

  &__col {
    flex-basis: 49.7%;
    position: relative;
  }

  &__image {
    max-width: 100%;
  }
}

@media(max-width: 767px) {
  .faveImages {
    padding: 0.5rem;

    &__col {
      flex-basis: 100%;
    }
  }
}
